* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    text-align: center;
    background-image: url('https://wp-s.ru/wallpapers/2/4/423251678851039/pasmurnaya-pogoda-i-kapli-dozhdya-na-stekle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #2e3b4e71;
    color: white;
    padding: 15px;
    font-size: 24px;
}
#search{

    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 4vh;
    width: 20%;
    
}
.qorap{
    background-color: #2e3b4ea8;
    color: whitesmoke;
    border-radius: 15px;
    width: 25%;
    height: 30vh;
    position: relative;
    left: 525px;
    top: 100px;
}
#btns-search{
    
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 4vh;
    width: 3%;
}
.knopka{
    border: none;
    border-radius: 15px;
    width: 8%;
    height: 5vh;
    background-color: rgb(0, 204, 255);
}
.weather-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.weather-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    text-align: left;
}

.weather-card h2 {
    font-size: 22px;
}

.weather-card p {
    margin: 5px 0;
}

.temperature {
    font-size: 32px;
    font-weight: bold;
}

.icon {
    width: 50px;
    vertical-align: middle;
}
.lupa{
width: 20px;
position: relative;
top: 2px;
background-color: #01010100;
}
.search{
    display: flex;
    justify-content: center;



}
.btns1{
display: flex;
gap: 25px;
justify-content: center;
margin-top: 20px;
}
a{
text-decoration: none;
}
